table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
td {
    white-space:pre;
    text-align:center;
}

th {
    white-space:pre;
    text-align:center;
}

table, td, th {
    border: 1px solid black;
}


#uploadForm{
    margin-left: 10px;
}
#welcome{
    font-size: 30px;
    margin-left: 10px;
}
#topDiv{
    margin-left: 10px;
}
#fileUploadErrorDiv{
    margin-left: 10px;
}
